<% layout('/layouts/boilerplate') %> 
<!-- This whole content will be passes to boilerplate file as body. -->

<h1>Campground Show !!</h1>
<h3><%= campground.title %> </h3>
<h3>Location: <%= campground.location %> </h3>
<img src="<%= campground.image %> " height="500" width="800">
<h3>Price: &#8377;<%= campground.price %></h3>
<h5><%= campground.description %></h5>

<p> <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a> </p>
<p> <a href="/campgrounds">All Campgrounds</a> </p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button>Delete Campground</button>
</form>